* {
  font-family: Helvetica;
  color: seashell;
}

h2 {
  font-size: 32px;
  text-align: center;
}

h4 {
  font-size: 22px;
  text-align: center;
}

/* Header */

.logo {
  padding-left: 10px;
  display: flex;
  flex-grow: 1;
}

.logo img {
  height: 50px;
}

header {
  display: flex;
  font-size: 22px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  font-size: 21px;
  background-color: black;
}

nav li {
  display: flex;
  text-decoration: underline;
  display: inline-block;
  padding-right: 20px;
  opacity: .9;
  text-align: center;
  vertical-align: middle;
}

body {
  background-color: black;
  font-size: 22px;
}

/* Mission */

.maincontainer {
  padding-top: 69px;
  opacity: .9;
  width: 1200px;
  margin: auto;
}

#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  text-align: center;
}

.feature {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blackbar {
  margin: auto;
  background-color: black;
  width: 100%;
}


/* Tea of the Month */

#featuredtea {
  width: 1000px;
  justify-content: center;
  margin: auto;
  padding-top: 65px;
}

.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.item {
  display: flex;
  text-align: center;
  width: 300px;
  margin: 10px;
  flex-direction: column;
}

.item img {
  width: 300px;
  height: 200px;
}

.caption {
  display: block;
  font-size: 21px;
  margin-top: 10px;
}


/* Locations */

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  margin-top: 100px;
}

#locations h2 {
  background-color: transparent;
}

.blackbox {
  justify-content: space-around;
  width: 300px;
  background-color: black;
}

.flexcontainerlocations {
  width: 980px;
  display: flex;
  justify-content: space-between;
  text-align: center;

}


/* Footer */

.footertext {
  text-align: center;
}

.footerleft {
  text-align: left;
  margin-left: 20px;
}

.footercontainer {
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 25px;
}
